<!DOCTYPE html>
<html lang = "en">

<head>
<meta charset= "UTF-8">
<meta name = "viewport" contect = "width=device-width, intial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content = "ie-edge">
<title>Mission to Mars</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div class="container-fluid">
        <div class = "jumbotron text-center">
           <h1>Mission to Mars</h1>
           <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <div class = "row">
            <div class="col-md-12">
            <h2>Latest Mars News</h2>
            <h3>{{mars_data.news_title}}</h3>
            <p>{{mars_data.news_p}}</p>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-6">
            <h2>Featured Image</h2>
            <img src ="{{mars_data.featured_img}}" alt="featured">
            </div>
            <div class = "col-md-6">
            <h2>Current Weather on Mars</h2>
            <p>{{mars_data.mars_weather}}</p>
            <div class = "col-md-6">
            <h2>Mars Facts</h2>
            <p>{{mars_data.html_table|safe}}</p>
            </div>
        </div>
        <div class="row">
            <h2 align="center">Mars Hemisphere</h2>
             {% for img_url in mars_data.hemisphere_url_imgs %}
            <div class="col col-6">
              <img src="{{ img_url.img_url }}" alt="{{ img_url.title }}">
                <h4> {{ img_url.title }}</h4> 
              </div>
            </div>
             {% endfor %}
 
        </div>

    </div>
</body>
